.current {
    background-color: #f7d00d;
    border-radius: 20px;
}

.classes-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-buttons .btn {
    padding: 1px 10px;
    font-size: 15px;
}

.lead-title h3 {
    font-size: 20px;
    font-weight: 700;
}